@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-grid-pattern {
    background-image: linear-gradient(to right, #1e293b 1px, transparent 1px),
      linear-gradient(to bottom, #1e293b 1px, transparent 1px);
    background-size: 4rem 4rem;
  }

  .animate-text {
    background-size: 200% 200%;
    animation: text-shine 3s linear infinite;
  }
}

@keyframes text-shine {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  background: #22d3ee;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #0891b2;
}

html {
  scroll-behavior: smooth;
}